---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

$base-font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-font-size:   1.2em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.60;
$text-color:       #2D2D2D;
$brand-color:      #32673f;
$link-color:       #20713B;
$link-color-hover: #78208E;

$spacing-unit:     15px;
$background-color: #fdfdfd;
$background-green: #599a68;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1100px;
$on-palm:          600px;
$on-laptop:        940px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting"
;
